.navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        background: #1e0b44;
    }

    /* Área do logo */
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo-box {
        width: 50px;
        height: 50px;
        border: 2px solid #555;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Botões do menu */
    .menu {
        display: flex;
        gap: 20px;
        margin-right: 20px;
    }

    .menu a {
        padding: 5px 50px;
        background: #a681ea;
        border-radius: 10px;
        border: 1px solid rgb(236, 242, 118);
        text-decoration: none;
        color: #000;
        font-weight: bold;
        box-shadow: 1px 1px 2px #ebe6e6;
    }

 

    .cabecalho{
        text-align: center;
        background-color: rgb(181, 154, 213);
        width: 50%; /* diminui a largura */
        margin: 0 auto;
        padding: 2px 5px;
        border-radius: 10px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }

    .Imagem_Sobre{
        border-radius: 10px;
        
    }

    .Nome_site{
        color: rgb(236, 242, 118);
        font-family: "Playwrite NO", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .menu a:hover{
        background-color: #e1a8e8;
        color: black;
    }

    .Titulo_card{
    padding: 0px 50px;
    margin-left: 160px;
    max-width: 90%; 
    background-color: rgb(181, 154, 213);
    width: 23%;
    border-radius: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

    }
     
  .Card_veiculo{
    text-align: center;
    justify-items: center;
    margin-left: 33%;
    background-color: rgb(181, 154, 213);
    width: 30%;
    border-radius: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }

  .Texto_sobre_carro{
    text-align: center;
    max-width: 900px;     
    margin: 0 auto;       
    text-align: justify;  
    line-height: 1.5;     
    padding: 10px;  
    font-size: 18px; 
  }

  .Texto_sobre_empresa{
    font-size: 18px; 
  }

  .estilo_footer{
    background-color: #1e0b44;
    padding: 30px 20px;
    text-align: center;
    color: white;
  }